<body>
  <div class="login-logo text-center">
    <img src="/statics/assets/LogoFinal.png" alt="Logo" />
  </div>

  <div class="login-container">
    <div class="form-login">
      <form method="POST" action="/login">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="vidu@email.com"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mật khẩu</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="tối thiểu 8 ký tự"
            required
          />
        </div>

        <!--custom-btn là class mình tự định nghĩa-->
        <div class="d-flex justify-content-center mt-3">
          <button type="submit" class="btn custom-btn btn-lg w-100">Đăng ký</button>
        </div>

        <div class="form-footer mt-3">
          Đã có tài khoản?
          <a href="/signup">Đăng nhập</a>
        </div>
      </form>

      <div class="divider my-4 text-center">Hoặc</div>

      <div class="d-grid gap-2">
        <!-- Button Google -->
        <button
          class="btn custom-social-btn w-100 d-flex align-items-center mb-3"
          onclick="signInWithGoogle()"
        >
          <img
            src="/statics/assets/Google.png"
            alt="Google Logo"
            class="me-2"
            style="width: 28px; height: 28px;"
          />
          <span>Đăng ký bằng Google</span>
        </button>

        <!-- Button Facebook -->
        <button
          class="btn custom-social-btn w-100 d-flex align-items-center mb-3"
          onclick="signInWithFacebook()"
        >
          <img
            src="/statics/assets/Facebook.png"
            alt="Facebook Logo"
            class="me-2"
            style="width: 28px; height: 28px;"
          />
          <span>Đăng ký bằng Facebook</span>
        </button>

        <!-- Button Github -->
        <button
          class="btn custom-social-btn w-100 d-flex align-items-center mb-3"
          onclick="signInWithGithub()"
        >
          <img
            src="/statics/assets/Github.png"
            alt="Github Logo"
            class="me-2"
            style="width: 28px; height: 28px;"
          />
          <span>Đăng ký bằng Github</span>
        </button>
      </div>

    </div>
  </div>

  <footer class="text-center mt-4 fs-6">
    <p class="small text-muted">&copy; 2024 ALL RIGHTS RESERVED</p>
  </footer>
</body>