#logo {
    width: 150px;
    height: auto;
}

.navbar-text {
    font-size: 14px;
    color: #6c757d;
}

.nav-item a {
    color: #333;
    margin: 0 10px;
}

.nav-item a:hover {
    color: inherit;
}

#premium-logo {
    width: 90px;
}

#sidebar {
    position: fixed;
    width: 250px;
    height: calc(100vh - 66px);
    top: 66px;
    background-color: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

#sidebar ul li:hover {
    background-color: #495057;
    color: #fff;
    transition: background-color 0.3s;
}

#sidebar ul li a {
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

#sidebar ul li a:hover {
    background-color: #495057;
    color: #fff;
    transition: background-color 0.3s;
}

.content {
    margin-left: 260px;
    padding: 20px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info:hover {
    opacity: 0.7;
}

.content {
    margin-left: 250px;
    padding: 20px;
    height: calc(100vh - 66px);
    overflow-y: auto;
}
.welcome-card {
    border: none;
    background: linear-gradient(145deg, #ff4500, #8b0000); /* Updated gradient colors */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 30px 20px;
    transition: transform 0.3s ease-in-out; 
}

.welcome-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
}

.welcome-card .card-title {
    font-size: 2.2rem;
    font-weight: bold;
    color: #ffffff;
}

.welcome-card .card-text {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #e6e6e6;
}