body {
    background-image: url("/statics/assets/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    text-align: justify;
}

.nav-item-group {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.search-form {
    margin-left: 0;
    transition: margin 0.3s ease-in-out;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    width: 0;
    border: none;
    padding: 0;
    border-bottom: 1px solid #ccc;
    outline: none;
    transition: all 0.3s ease-in-out;
    margin-right: 0;
}

.search-input.active {
    width: 200px;
    padding: 5px;
    margin-right: 8px;
}

.navbar-nav .nav-item:not(:last-child) {
    border-right: 1px solid #ccc;
}

.nav-bottom .nav-item a {
    color: black;
    font-weight: 500;
}

.premium-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1050;
    justify-content: center;
    align-items: center;
}

.premium-content {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.blur-content {
    filter: blur(5px);
    pointer-events: none;
}

.nav-item-category:hover>.nav-link {
    color: #FF4500;
}

.nav-item-category .dropdown-menu {
    border-color: #FF4500;
}

.nav-item-category .dropdown-item {
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

.nav-item-category .dropdown-item:hover {
    border-color: #FF4500;
    background-color: rgba(255, 69, 0, 0.1  );
    transform: translateY(-2px);
}